{% extends 'base.html.twig' %}

{% block title %}
	Home Produits |
	{{ parent() }}
{% endblock %}

{% block body %}

	<pre>
	{{ dump(produits) }}
</pre>
	<div class="example-wrapper">
		<h1>Hello Produits! ✅</h1>
		{% for produit in produits %}
			<div class="form-check form-switch">
				<h2>{{ produit }}</h2>
				<p>{{ produit.prix }}
					€</p>
				{% for categorie in produit.categories %}
					<p>{{ categorie }}</p>
				{% endfor %}
				<input class="form-check-input" type="checkbox" role="switch" value="{{ produit.id }}" {{ produit.active ? 'checked' }} data-switch-active-produits>
				<label class="form-check-label">Actif</label>
				{% include "Backend/Produits/_delete.html.twig" %}
			</div>
		{% endfor %}

	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}
